
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/libraries/android_async_http_1_4_8.xml

.idea/libraries/appcompat_v7_23_1_1.xml

.idea/libraries/butterknife_7_0_1.xml

.idea/libraries/design_23_1_1.xml

.idea/libraries/recyclerview_v7_23_1_1.xml

.idea/libraries/support_annotations_23_1_1.xml

.idea/libraries/support_v4_23_1_1.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

.idea/workspace.xml

.gradle/2.8/taskArtifacts/cache.properties

.gradle/2.8/taskArtifacts/cache.properties.lock

.gradle/2.8/taskArtifacts/fileHashes.bin

.gradle/2.8/taskArtifacts/fileSnapshots.bin

.gradle/2.8/taskArtifacts/outputFileStates.bin

.gradle/2.8/taskArtifacts/taskArtifacts.bin
